*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#divArticles {
    width: 100%;
    height: 650px;
}

#navigationArticles {
    background-color: red;
    width: 100%;
    height: 10%;
}

#afficheArticle {
    width: 100%;
    height: 80%;
}

#articlesConnexes {
    background-color: green;
    width: 100%;
    height: 30%;
}

.blocImageManga {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5%;
}

.blocInfosManga {
    width: 50%;
    height: 100%;
    float: left;
}

.imageManga {
    border-radius: 3%;
}

.texteManga {
    padding-top: 5%;
}

.texteManga p {
    padding-top: 2%;
    font-size: 20px;
}

/* Bloc de chaque manga connexe*/
.lesManga {
    width: auto;
    margin-right: 5%;
    height: 100%;
    float: left;
}

/* Resize images */
.lesManga img {
    width: auto;
    height: 100%;
}